// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

del {
	color: #aaa;
}

img.left {
	float: left;
	margin-right: 8px;
	margin-bottom: 4px;
}

img.right {
	float: right;
	margin-left: 8px;
	margin-bottom: 4px;
}
